parameters:
    #treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    level: 6
    paths:
        - src
        - tests
    ignoreErrors:
        -
            identifier: 'function.alreadyNarrowedType'
            reportUnmatched: false
